.dashWeekGraph {
	background-color: #03A9F4;
}

.head-toolbar {
	height: 64px;
}

.inputdemoIcons .inputIconDemo {
  min-height: 48px; 
}

.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
  color: green; 
}

.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
  color: dodgerblue; 
}

.inputdemoIcons md-input-container.md-input-invalid > md-icon.email, .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
  color: red; 
}

.welcomeImg {
	background-image: url('http://twitterheaders.org/twheads/blur.jpg');
	background-size: cover;
	width: 100%;
	height: 600px;
	background-attachment: fixed;
}

.login {
	opacity: .9;
}
