.dashWeekGraph {
	background-color: #03A9F4;
}

.head-toolbar {
	height: 64px;
}

.inputdemoIcons .inputIconDemo {
  min-height: 48px; 
}

.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
  color: green; 
}

.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
  color: dodgerblue; 
}

.inputdemoIcons md-input-container.md-input-invalid > md-icon.email, .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
  color: red; 
}

.welcomeImg {
	background-image: url('http://twitterheaders.org/twheads/blur.jpg');
	background-size: cover;
	width: 100%;
	height: 1000px;
	background-attachment: fixed;
}

.login {
	opacity: .9;
}

.adminMain {
	width: 85%; 
	margin: 20px auto;
}

.adminHeader {
	margin-top: 10px;
}

.adminBoxes {
	width: 85%; 
	margin: 20px auto;
}

.usersBox {
	background-color: white;
}

.userList {
	width: 90%; 
	margin: 0 auto;
}

.deleteUser {
	background-color: #FFC107;
}

.userIcon {
	color: white; 
	font-size: 24px; 
	margin: 8px 0px 0px 0px;
}

.hardwareBox {
	background-color: white;
}

.comingSoon {
	color: red;
}

.groupDialog {
	width: 400px;
}

.groupDialogDropdown {
	padding: 0; 
	margin: 60px auto 30px auto;
}

.dashDivStyling1 {
	width: 100%;
}

#dashWhiteframe {
	background-color: white;
}

.dashSelect {
	padding: 0px;
}

.dashImages {
	width: 200px;
}

.deleteDialog {
	width: 60%;
	min-width: 285px;
}

#dialogHeader {
	color: white;
}

#dialogHeaderButton {
	color: white; 
	font-size: 36px;
	margin-top: 7px;
}

#header {
	font-size: 1.3em;
	color: white;
}

#headerMenuButton {
	margin-top: 12px;
}

#logo {
	font-size: 36px; color: white;
}

.menuButton {
	margin-top: 12px; 
	font-size: 15px;
}