<div layout-gt-md="row" layout-md="column" layout-fill style="padding-bottom: 32px; width: 75%; margin: 20px auto;">
  <md-whiteframe class="md-whiteframe-z1" style='background-color: white;' layout='column' layout-margin layout-padding layout-align="center start" flex-gt-md='45' flex='90'>
    <h1>Users</h1>
    <md-list style='width: 90%'>
		  <md-list-item ng-click="" layout='row' layout-align='space-between center' flex>
		    	<p>User...</p>
		    	<span flex></span>
		    	<i class="material-icons">&#xE0C9;</i>
		  </md-list-item>
		  <md-list-item ng-click="">
		    <p>User...</p>
		    <i class="material-icons">&#xE0C9;</i>
		  </md-list-item>
		  <md-list-item ng-click="">
		    <p>User...</p>
		    <i class="material-icons">&#xE0C9;</i>
		  </md-list-item>
		  <md-list-item ng-click="">
		    <p>User...</p>
		    <i class="material-icons">&#xE0C9;</i>
		  </md-list-item>
		</md-list>
  </md-whiteframe>
  <md-whiteframe class="md-whiteframe-z1" style='background-color: white;' layout='column' layout-margin layout-padding layout-align="center start" flex-gt-md='45' flex='90'>
    <h1>Hardware</h1>
    <md-list style='width: 90%'>
		  <md-list-item ng-click="" layout='row' layout-align='space-between center' flex>
		    	<p>Front Door Camera...</p>
		    	<span flex></span>
		  </md-list-item>
		  <md-list-item ng-click="">
		    <p>Kids Room Camera...</p>
		  </md-list-item>
		  <md-list-item ng-click="">
		    <p>BackyardCamera...</p>
		  </md-list-item>
		  <md-list-item ng-click="">
		    <p>Living Room Camera...</p>
		  </md-list-item>
		</md-list>
  </md-whiteframe>
 </div>
    
		<md-button layout='row' layout-align='center center' class="md-warn md-fab md-fab-bottom-right right" aria-label="Add" ng-click='addNewUser($event)'>
      <md-icon md-svg-icon="path/to/your.svg"></md-icon>
      <md-tooltip>
        Add
      </md-tooltip>
    </md-button>



    <!-- <div class='width: 90%'>
	    <form name="userForm">
	      <div layout layout-sm="column">
	        <md-input-container>
	            <label>First Name</label>
	            <input ng-model=''>
	          </md-input-container>
	        <md-input-container flex>
	          <label>Last Name</label>
	          <input ng-model="">
	        </md-input-container>
	      </div>
	      <div layout layout-sm="column">
	        <md-input-container flex>
	          <label>First name</label>
	          <input ng-model="">
	        </md-input-container>
	      </div>
	      <md-input-container flex>
	        <label>Address</label>
	        <input ng-model="">
	      </md-input-container>
	      <div layout layout-sm="column">
	        <md-input-container flex>
	          <label>City</label>
	          <input ng-model="">
	        </md-input-container>
	        <md-input-container flex>
	          <label>State</label>
	          <input ng-model="">
	        </md-input-container>
	      </div>
	      <md-button class='md-raised md-primary' ng-click="">Add Group</md-button>
	    </form>
		</div> -->