<div layout='column' layout-margin layout-align='start center' flex>
	<md-whiteframe class="md-whiteframe-z1" style='background-color: white; height: 400px; width: 80%;' layout layout-align="center start" layout-margin>
		<span>
		    <h1 layout-align='center start' layout-margin class='.md-headline'>Manage Group</h1>
		</span>	
	</md-whiteframe>
	<md-whiteframe class="md-whiteframe-z1" style='background-color: white; height: 400px; width: 80%;' layout layout-align="center start" layout-margin>
		<span>
		    <h1 layout-align='center start' layout-margin class='.md-headline'>Manage Hardware</h1>
		</span>	
	</md-whiteframe>
</div>