<div layout-margin>

  <!-- Photos Whiteframe -->
  <md-whiteframe class="md-whiteframe-z1" id='dashWhiteframe' layout layout-padding layout-align="start start"  flex='99'>

    <!-- determines entire whiteframe layout -->
    <div layout-gt-md='row' layout-md='column' layout-margin layout-fill>

      <!-- determines layout for photos section (left two-thirds) in whiteframe -->
      <div layout='column' layout-align='start start' layout-margin flex='66'>

        <!-- Header and dropdown -->
        <div class='dashDivStyling1' layout='row'>
          <h1 layout-margin>Photos {{ groupName }}</h1>
          <span flex></span>
          <!-- 'choose groups' dropdown -->
          <md-select class='dashSelect' ng-model="groupSelect" placeholder="Choose a Group" layout-margin>
            <md-optgroup label="Groups">
              <md-option ng-repeat="group in groups" ng-click="recentPics($index)">{{ group.name }}</md-option>
            </md-optgroup>
          </md-select>
        </div>

        <!-- Filter Photos Button -->
        <md-button class='md-primary' ng-click='filterPhotos(ev)'>Filter Photos</md-button>

        <!-- Images - shows images with ng-repeat. On page load, only latest 6 images are sent from Mongo. 
              On filter invocation, shows all photos within time range specified -->
        <div layout='row' layout-padding layout-margin layout-align='start center' layout-wrap>
          <div flex='45' ng-click='openPhoto($event, image)' ng-repeat='image in images'>
            <img class='dashImages' ng-src={{image.image_url}}>
          </div>
        </div>
      </div>
      <span flex></span>

      <!-- D3 graph to show data -->
      <div flex='30'>
        <div layout-wrap layout-gt-md='column' layout-md='row' layout-sm='column' layout-align='center center' style='height: auto' layout-margin>

          <!-- Graph for last 10 days -->
          <md-whiteframe class="md-whiteframe-z2" style='background-color: white; height: 200px; padding: 0; color: white;' layout='column' layout-align='center start' layout-margin flex-gt-md='99' flex-md='45' flex-sm='90' layout-fill>
            <span style='width:100%; height: 65%; background: #7986CB;' layout="column" layout-align="start center">
              <h6 class='.md-headline' style='margin-top: 8px; margin-top: 18px;'>Photos the last 10 days</h6>
              <h1 style='margin-top: 30px; color: white;' class='.md-headline'>256</h1>
            </span>
            <span style='width:100%; height: 35%; background: #3F51B5;' layout="column" layout-align="start center">
              <div style='height: 120px; margin: 12px auto 0px auto'>
                <div dash-weekly bar-data='tenDay'></div>    
              </div> 
            </span>
          </md-whiteframe>

          <!-- Graph for last 30 days -->
          <md-whiteframe class="md-whiteframe-z2" style='background-color: white; height: 200px; padding: 0; color: white;' layout='column' layout-align='center start' layout-margin flex='99' flex-gt-md='99' flex-md='45' flex-sm='90' layout-fill>
            <span style='width:100%; height: 65%; background: #66BB6A;' layout="column" layout-align="start center">
              <h6 class='.md-headline' style='margin-top: 8px; margin-top: 18px;'>Photos the last 30 days</h6>
              <h1 style='margin-top: 30px; color: white;' class='.md-headline'>842</h1>
            </span>
            <span style='width:100%; height: 35%; background: #43A047;' layout="column" layout-align="start center">
              <div style='height: 120px; margin-top: 12px'>
                <div dash-monthly bar-data='thirtyDay'></div>    
              </div> 
            </span> 
          </md-whiteframe>

          <!-- Total photos taken -->
          <md-whiteframe class="md-whiteframe-z2" style='background-color: white; height: 200px; padding: 0; color: white;' layout='column' layout-align='center start' layout-margin flex='99' flex-gt-md='99' flex-md='45' flex-sm='90' layout-fill>
            <span style='width:100%; height: 65%; background: #EF5350;' layout="column" layout-align="start center">
              <div style='color: white; margin-top: 35px; font-weight: bold;' class='md-display-3'>7476</div>    
            </span>
            <span style='width:100%; height: 35%; background: #E53935;' layout="column" layout-align="start center">
              <div style='height: 120px; margin-top: 12px'>
                <h6 class='.md-headline' style='margin-top: 8px; margin-top: 18px;'>Total photos taken</h6>
              </div> 
            </span> 
          </md-whiteframe>

        </div>  
      </div>  <!-- end D3 graphs -->
    
    <div temp-graph></div>
    </div>

  </md-whiteframe>
  
</div>


<!-- Keep for reference -->
<!--         <p hide-md show-gt-md>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p> -->