<div layout="column" style="height:500px;">
  <section layout="row">
    <md-content>
      <div layout='column' layout-gt-md='row' layout-align="top center" flex='80'>
        <md-whiteframe class="md-whiteframe-z2" style='background-color: white; height: 475px;' layout='column' layout-margin flex='99'>
          <div layout layout-align='center center' flex='99'>
            <span><h1 layout'center center' layout-margin class='.md-headline'>Photo Feed: {{ group }}</h1></span> 
          </div>
          <div layout='row' layout-margin>
            <form>
            <div layout='column' layout-align='start start' flex='20'>
              <h1 class="md-toolbar-tools">Photo Search</h1>
              <md-select ng-model="group" placeholder="Groups">
                <md-option ng-repeat="group in groups" value="{{group}}">{{group}}</md-option>
              </md-select>
              <md-input-container>
                <label>Search - Start Date</label>
                <input type="date" ng-model="submissionStartDate">
              </md-input-container>
              <md-input-container>
                <label>Search - End Date</label>
                <input type="date" ng-model="submissionEndDate">
              </md-input-container>
              <md-button layout-margin ng-click='runTest()' class="md-accent md-raised md-hue-2">Search...</md-button>
            </div>
            </form>
          </div>
        </md-whiteframe>
      </div>
      <div layout  flex='15'>
        <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style='background-color: white; height: 475px;'>
          <img style='height 400px; width: 100%' src="https://cdn4.iconfinder.com/data/icons/weathercons/64/thermometer-512.png" alt="">
        </md-whiteframe>
      </div>
    </md-content>
  </section>
</div>
<div layout='row' layout-wrap style='height: auto' layout-align='start start' layout-align-gt-md='center start' layout-fill>
  <md-whiteframe class="md-whiteframe-z2" style='background-color: white; height: 200px; padding: 0; color: white;' layout='column' layout-align='center start' layout-margin flex-md='45' flex-gt-md='30'>
    <span style='width:100%; height: 65%; background: #7986CB
;' layout="column" layout-align="start center">
      <h6 class='.md-headline' style='margin-top: 8px; margin-top: 18px;'>Photos the last 10 days</h6>
      <h1 style='margin-top: 30px; color: white;' class='.md-headline'>256</h1>
    </span>
    <span style='width:100%; height: 35%; background: #3F51B5;' layout="column" layout-align="start center">
      <div style='height: 120px; margin-top: 12px'>
        <div dash-weekly bar-data='tenDay'></div>    
      </div> 
    </span>
  </md-whiteframe>
  <md-whiteframe class="md-whiteframe-z2" style='background-color: white; height: 200px; padding: 0; color: white;' layout='column' layout-align='center start' layout-margin flex-md='45' flex-gt-md='30'>
    <span style='width:100%; height: 65%; background: #66BB6A;' layout="column" layout-align="start center">
      <h6 class='.md-headline' style='margin-top: 8px; margin-top: 18px;'>Photos the last 30 days</h6>
      <h1 style='margin-top: 30px; color: white;' class='.md-headline'>842</h1>
    </span>
    <span style='width:100%; height: 35%; background: #43A047;' layout="column" layout-align="start center">
      <div style='height: 120px; margin-top: 12px'>
        <div dash-monthly bar-data='thirtyDay'></div>    
      </div> 
    </span> 
  </md-whiteframe>
  <md-whiteframe class="md-whiteframe-z2" style='background-color: white; height: 200px; padding: 0; color: white;' layout='column' layout-align='center start' layout-margin flex-md='45' flex-gt-md='30'>
    <span style='width:100%; height: 65%; background: #EF5350
;' layout="column" layout-align="start center">
      <div dummy-arc arc-data='tenDay'></div>    
    </span>
    <span style='width:100%; height: 35%; background: #E53935;' layout="column" layout-align="start center">
      <div style='height: 120px; margin-top: 12px'>
        <h6 class='.md-headline' style='margin-top: 8px; margin-top: 18px;'>SoMe CoOl GrApH!</h6>
      </div> 
    </span> 
  </md-whiteframe>
</div>


<!-- Keep for reference -->
<!--         <p hide-md show-gt-md>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p> -->