<md-toolbar class='header'>
  <div layout-margin class="md-toolbar-tools" flex>
    <!-- <md-button hide-gt-md show-md class='md-icon-button md-secondary' ng-click='toggleLeft()' aria-label='settings'>
      <md-icon md-svg-icon='bower_components/angular-material/demos/toolbar/demoBasicUsage/img/icons/menu.svg'</md-icon>
    </md-button> -->
    <h2 layout-margin>
      <span ui-sref='welcome'>Security Cam</span>
    </h2>
    <md-button layout-margin class="md-button" style='margin-left: 3%' ui-sref='dashboard'>Dashboard</md-button>
    <md-button layout-margin class="md-button" style='margin-left: 3%' ui-sref='admin'>Admin</md-button>
    <span flex></span>
    <a href="/auth/logout"><md-button md-no-ink layout-margin class="md-primary md-raised md-hue-2">Logout</md-button></a>
  </div>
</md-toolbar>