<div style="width: 60%;">
  <md-dialog>
    <form>
   		<md-toolbar>
        <div class="md-toolbar-tools">
          <h2 style='color: white;'>Login</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="closeDialog()">
            <i class="material-icons" style='color: white; font-size: 36px'>&#xE14C;</i>
          </md-button>
        </div>
      </md-toolbar>
      <div layout-padding>
        <md-content>
    	   	<md-input-container>
		      	<label>Email</label>
		      	<input ng-model="email" type='email' required="true">
		    	</md-input-container>
  		  </md-content>
        <md-content>
           <md-input-container>
            <label>Password</label>
            <input ng-model="password" type='password' required="true">
          </md-input-container>
        </md-content>
  		</div>
      <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="closeDialog()" class="md-primary">
          Cancel
        </md-button>
        <md-button ng-click="login(email, password)" class="md-primary">
          Login
        </md-button>
      </div>
    </form>
  </md-dialog>
</div>