<div style="width: 60%;">
  <md-dialog>
    <form>
   		<md-toolbar>
        <div class="md-toolbar-tools">
          <h2 style='color: white;'>Register New User</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="closeDialog()">
            <i class="material-icons" style='color: white; font-size: 36px'>&#xE14C;</i>
          </md-button>
        </div>
      </md-toolbar>
      <div layout-padding>
        <md-content>
          <md-select ng-model="groupSelected" placeholder="Choose a Group" layout-margin style='padding: 0;'>
            <md-optgroup label="Groups">
              <md-option ng-repeat="group in groups" ng-click="recentPics($index)">{{ group.name }}</md-option>
            </md-optgroup>
          </md-select>
      	  <md-input-container>
  		      <label>First Name</label>
  		      <input ng-model="newUserFirstName">
  		    </md-input-container>
  		  </md-content>
        <md-content>
           <md-input-container>
            <label>Last Name</label>
            <input ng-model="newUserLastName">
          </md-input-container>
        </md-content>
        <md-content>
           <md-input-container>
            <label>Email</label>
            <input ng-model="newUserEmail">
          </md-input-container>
        </md-content>
        <md-content>
           <md-input-container>
            <label>Password</label>
            <input ng-model="newUserPassword">
          </md-input-container>
        </md-content>
        <md-content>
           <md-input-container>
            <label>Confirm Password</label>
            <input>
          </md-input-container>
        </md-content>
  		</div>
      <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="closeDialog()" class="md-primary">
          Cancel
        </md-button>
        <md-button ng-click="addUser(groupSelected, newUserFirstName, newUserLastName, newUserEmail, newUserPassword, group_id)" class="md-primary">
          Register User
        </md-button>
      </div>
    </form>
  </md-dialog>
</div>