<md-dialog>
	<md-content>
		<md-toolbar>
		  <div class="md-toolbar-tools">
		  	<h2 style='color: white;'>timestamp</h2>
		    <span flex></span>
		    <md-button class="md-icon-button" ng-click="closeDialog()">
		      <i class="material-icons" style='color: white; font-size: 36px'>&#xE14C;</i>
		    </md-button>
		  </div>
		</md-toolbar>
		<div style='width: 600px; border: 1px solid black;'>
		  <img src='https://material.angularjs.org/latest/img/icons/angular-logo.svg'>
		</div>
	</md-content>
</md-dialog>