<div style='margin: 10px auto;'>
	
	<!-- input boxes -->
	<div style='margin: 10px auto;' layout="column" layout-padding flex-md='80' flex-gt-md='50'>
	  <md-content layout-padding class="autoScroll">
	  	<h1 style='margin-bottom: 20px;'>Register</h1>
	    <md-input-container class="md-icon-float">	      
		<md-icon md-svg-src="bower_components/angular-material/demos/input/demoIcons/icons/ic_person_24px.svg" class="erase"></md-icon>
	      <input ng-model="firstname" type="text" placeholder="First Name" ng-required="true">
	    </md-input-container>
	    <md-input-container class="md-icon-float">
	      <md-icon md-svg-src="bower_components/angular-material/demos/input/demoIcons/icons/ic_person_24px.svg" class="name"></md-icon>
	      <input ng-model="lastname" type="text" placeholder="Last Name" ng-required="true">
	    </md-input-container>
	    <md-input-container >
	      <md-icon md-svg-src="bower_components/angular-material/demos/input/demoIcons/icons/ic_email_24px.svg" class="email"></md-icon>
	      <input ng-model="email" type="email" placeholder="Email" ng-required="true">
	    </md-input-container>
	    <md-input-container class="md-icon-float">
	    <md-icon md-svg-src="" class="name"></md-icon>
	      <input ng-model="password" type="password" placeholder="Password" ng-required="true">
	    </md-input-container>
	     <md-input-container class="md-icon-float">
	    <md-icon md-svg-src="" class="name"></md-icon>
	      <input ng-model="groupName" type="text" placeholder="Group Name" ng-required="true">
	    </md-input-container>
	    <div layout='row'>
	    	<span flex></span>
			<md-button class='md-raised md-primary' ng-click="clickRegister()">register & login</md-button>
	    </div>
	  </md-content>
	</div>

</div>