<div>
  <md-toolbar style='height: 87vh;' hide-sm>
		<div layout='row' layout-align='end center' layout-padding style='position: fixed; width: 100%;'>
			<md-button layout-margin ng-click='login($event)' class="md-primary md-raised md-hue-2">Login</md-button>
	    <md-button layout-margin ng-click='register($event)' class="md-primary md-raised md-hue-2">Register</md-button>
		</div>
    <span flex></span>
		<div layout='column' layout-align='center center' layout-margin style="color: white; margin: 10%; height: 75%;">	
			<h1 style='color: white; font-size: 4em;'>GladCam</h1>
			<h6 style="margin-top: 37px;">Project by DevMountaineers</h6>
		</div>
  </md-toolbar>
  <md-toolbar hide-gt-sm layout='row' style='position: fixed;' layout-align='center center'>
		<h1 style='color: white;'>SecurityCam</h1>
    <span flex></span>
		<md-button layout-margin ng-click='login($event)' class="md-primary md-raised md-hue-2">Login</md-button>
	  <md-button layout-margin ng-click='register($event)' class="md-primary md-raised md-hue-2">Register</md-button>
  </md-toolbar>
</div>
<div style='width: 100%;' layout-gt-md='row' layout-md='column' flex id='about'>
	<div layout='column' layout-align='start start' flex-gt-md='55' flex-md='95'>	
		<h1 style='font-size: 1.5em; margin: 90px 0px 0px 30px;'>What is SecurityCam?</h1>
	</div>
	<div layout='column' layout-align-gt-md='start start' layout-align-md='start center' layout-margin flex-gt-md='40' flex-md='95' style='margin-top: 90px;'>	
		<div layout='row' layout-margin>
			<div layout='column' layout-align='center start' style='margin-right: 45px'>
				<i class="material-icons" style='font-size: 60px;'>&#xE86F;</i>
			</div>
			<div layout='column'>
				<h6 style='font-weight: bold; margin-bottom: 5px;'>Web Development Project</h6>
				<p style='font-size: .8em;'>As students from DevMountain, we came up with SecurityCam to use for our group project. SecurityCam was a way for us to showcase the skills we have learned while at DevMountain.</p>
			</div>
		</div>
		<div layout='row' layout-margin>
			<div layout='column' layout-align='center start' style='margin-right: 45px'>
				<i class="material-icons" style='font-size: 60px;'>&#xE04B;</i>
			</div>
			<div layout='column'>
				<h6 style='font-weight: bold; margin-bottom: 5px;'>Security Camera System</h6>
				<p style='font-size: .8em;'>We built a Security Camera using an Arduino Chip, webcam, and motion sensor. We also attatched a temprature sensor, a light meter, and a humidity sensor, so that we could display a wide range of data.</p>
			</div>
		</div>
		<div layout='row' layout-margin>
			<div layout='column' layout-align='center start' style='margin-right: 45px'>
				<i class="material-icons" style='font-size: 60px;'>&#xE30A;</i>
			</div>
			<div layout='column'>
				<h6 style='font-weight: bold; margin-bottom: 5px;'>Single Page Web Application</h6>
				<p style='font-size: .8em;'>The web application we made is used to display the photos taken from the security camera. There are many graphs that we also display to show the data from the other sensors as well.</p>
			</div>
		</div>
	</div>

	
</div>
<md-divider style='margin-top: 80px'></md-divider>
<div style='width: 100%;' layout='column' flex id='about'>
	<div layout='column' layout-align='center center' flex-gt-md='40' flex-md='95'>	
		<h1 style='font-size: 1.5em; margin: 90px 0px 0px 30px;'>How SecurityCam was built</h1>
	</div>
	<div layout-gt-sm='row' layout-sm='column' style='margin-top: 60px;'>
		<div layout='column' layout-align='center start' style='margin-left: 2%;' layout-margin flex-gt-md='30' flex-md='45' flex-sm='95'>
			<div layout='row' layout-margin hide-sm>
				<div layout='column' layout-align='center start' style='margin-right: 45px'>
				<img style='height: 100px; width: 100px;' src="http://thinketg.com/wp-content/uploads/2014/09/js.png" alt="">
				</div>
				<div layout='column' layout-align='center start'>
					<h6 style='font-weight: bold; margin-bottom: 5px;'>Javascript</h6>
				</div>
			</div>
			<div layout='row' layout-margin>
				<div layout='column' layout-align='center start' style='margin-right: 45px'>
				<img style='height: 100px; width: 100px;' src="http://www.nganimate.org/img/angular-logo-big.png" alt="">
				</div>
				<div layout='column' layout-align='center start'>
					<h6 style='font-weight: bold; margin-bottom: 5px;'>AngularJS</h6>
				</div>
			</div>
			<div layout='row' layout-margin>
				<div layout='column' layout-align='center start' style='margin-right: 45px'>
				<img style='height: 100px; width: 100px;' src="http://i.imgur.com/ZRfsi5O.png" alt="">
				</div>
				<div layout='column' layout-align='center start'>
					<h6 style='font-weight: bold; margin-bottom: 5px;'>D3.js</h6>
				</div>
			</div>
			<div layout='row' layout-margin>
				<div layout='column' layout-align='center start' style='margin-right: 45px'>
				<img style='height: 100px; width: 100px;' src="https://avatars0.githubusercontent.com/u/139426?v=3&s=400" alt="">
				</div>
				<div layout='column' layout-align='center start'>
					<h6 style='font-weight: bold; margin-bottom: 5px;'>Angular Material</h6>
				</div>
			</div>
			<div layout='row' layout-margin hide-sm>
				<div layout='column' layout-align='center start' style='margin-right: 45px'>
				<img style='height: 100px; width: 100px;' src="http://i.imgur.com/pTTGxds.png" alt="">
				</div>
				<div layout='column' layout-align='center start'>
					<h6 style='font-weight: bold; margin-bottom: 5px;'>GitHub</h6>
				</div>
			</div>
		</div>
		<div layout='column' layout-align='center start' style='margin-left: 2%;' layout-margin flex-gt-md='30' flex-md='45' flex-sm='95'>
			<div layout='row' layout-margin>
				<div layout='column' layout-align='center start' style='margin-right: 45px'>
				<img style='height: 100px; width: 100px;' src="http://i.imgur.com/pgkvQTm.png" alt="">
				</div>
				<div layout='column' layout-align='center start'>
					<h6 style='font-weight: bold; margin-bottom: 5px;'>C++</h6>
				</div>
			</div>
			<div layout='row' layout-margin>
				<div layout='column' layout-align='center start' style='margin-right: 45px'>
				<img style='height: 100px; width: 100px;' src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/2000px-Python-logo-notext.svg.png" alt="">
				</div>
				<div layout='column' layout-align='center start'>
					<h6 style='font-weight: bold; margin-bottom: 5px;'>Python</h6>
				</div>
			</div>
			<div layout='row' layout-margin>
				<div layout='column' layout-align='center start' style='margin-right: 45px'>
				<img style='height: 100px; width: 100px;' src="http://cdn.rawgit.com/ferventcoder/chocolatey-packages/bd3902ea9e357d5d1b3ece2977f02e5ef60ca84a/icons/nodejs.png" alt="">
				</div>
				<div layout='column' layout-align='center start'>
					<h6 style='font-weight: bold; margin-bottom: 5px;'>NodeJS</h6>
				</div>
			</div>
			<div layout='row' layout-margin>
				<div layout='column' layout-align='center start' style='margin-right: 45px'>
				<img style='height: 100px; width: 100px;' src="http://blog.fabianpiau.com/wp-content/uploads/2013/01/00048.png" alt="">
				</div>
				<div layout='column' layout-align='center start'>
					<h6 style='font-weight: bold; margin-bottom: 5px;'>MongoDB</h6>
				</div>
			</div>
			<div layout='row' layout-margin hide-sm>
				<div layout='column' layout-align='center start' style='margin-right: 45px'>
				<img style='height: 100px; width: 100px;' src="http://www.thefirehoseproject.com/assets/expressjs-2718e9b7372d3ec8a285913c21fc0b3b.png" alt="">
				</div>
				<div layout='column' layout-align='center start'>
					<h6 style='font-weight: bold; margin-bottom: 5px;'>Express</h6>
				</div>
			</div>
		</div>
		<div layout='column' layout-align='center start' style='margin-left: 2%;' layout-margin flex-gt-md='30' hide-md hide-sm show-gt-md>
			<div layout='row' layout-margin>
				<div layout='column' layout-align='center start' style='margin-right: 45px'>
				<img style='height: 100px; width: 100px;' src="http://www.w3.org/html/logo/downloads/HTML5_Logo_256.png" alt="">
				</div>
				<div layout='column' layout-align='center start'>
					<h6 style='font-weight: bold; margin-bottom: 5px;'>HTML</h6>
				</div>
			</div>
			<div layout='row' layout-margin>
				<div layout='column' layout-align='center start' style='margin-right: 45px'>
				<img style='height: 100px; width: 100px;' src="http://mobalon.com/wp-content/uploads/2015/03/css3-logo.png" alt="">
				</div>
				<div layout='column' layout-align='center start'>
					<h6 style='font-weight: bold; margin-bottom: 5px;'>CSS</h6>
				</div>
			</div>
			<div layout='row' layout-margin>
				<div layout='column' layout-align='center start' style='margin-right: 45px'>
				<img style='height: 100px; width: 100px;' src="https://temboo.com/files/temboo-drop-orange.png" alt="">
				</div>
				<div layout='column' layout-align='center start'>
					<h6 style='font-weight: bold; margin-bottom: 5px;'>Temboo</h6>
				</div>
			</div>
			<div layout='row' layout-margin>
				<div layout='column' layout-align='center start' style='margin-right: 45px'>
				<img style='height: 100px; width: 100px;' src="http://www.printrbottalk.com/wiki/images/6/63/Arduino.png" alt="">
				</div>
				<div layout='column' layout-align='center start'>
					<h6 style='font-weight: bold; margin-bottom: 5px;'>Arduino</h6>
				</div>
			</div>
			<div layout='row' layout-margin>
				<div layout='column' layout-align='center start' style='margin-right: 45px'>
				<img style='height: 100px; width: 100px;' src="http://www.ajcsoft.com/images/amazon-s3-logo.png" alt="">
				</div>
				<div layout='column' layout-align='center start'>
					<h6 style='font-weight: bold; margin-bottom: 5px;'>Amazon S3</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<md-divider style='margin-top: 80px'></md-divider>
<div style='width: 100%;' layout-gt-md='row' layout-md='column' flex id='about'>
	<div layout='column' layout-align='center center' flex-gt-md='55' flex-md='95'>	
		<h1 style='font-size: 1.5em; margin: 90px 0px 0px 30px;'>Meet the SecurityCam Team!</h1>
	</div>
	<div layout='column' layout-align-gt-md='start start' layout-align-md='start center' layout-margin flex-gt-md='40' flex-md='95' style='margin-top: 90px;'>
		<div layout='row'>
			<img ng-src="" class="md-avatar" alt="" />
			<h6 style='font-weight: bold; margin-bottom: 5px;'>Guy Brud</h6>
		</div>
	</div>
</div>
